@import "bootstrap.min";

$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

html{
  @extend .w-100;
}
header{
  @extend .bg-dark;
  h2{
  @extend .text-light;
  @extend .pb-3;
  @extend .pt-2;
  @extend .text-center;
  @extend .text-uppercase;
  font-size: 23pt;
  letter-spacing: 3pt;
}
}

section{
  @extend .row;
    img{
      @extend .col-md-3;
      height: 100%;
    }
    div{
      @extend .col-md-9;
    }
}

main{
  @extend .container;
  @extend .pt-3;
  @extend .w-100;
  margin-left: 2em;
}



