﻿<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122401206-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-122401206-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Noticias</title>
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/fontawesome-all.css">
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>    
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <header>
        <h2>Lo nuevo en noticias</h2>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li id='general' class="nav-item active">
                  <a class="nav-link" ng-click="changeCategory()">General <span class="sr-only">(current)</span></a>
                </li>
                <li id='business' class="nav-item">
                  <a class="nav-link" ng-click="changeCategory('business')">Negocios</a>
                </li>
                <li id='entertainment' class="nav-item">
                  <a class="nav-link" ng-click="changeCategory('entertainment')">Entretenimiento</a>
                </li>
                <li id='health' class="nav-item">
                  <a class="nav-link" ng-click="changeCategory('health')">Salud</a>
                </li>
                <li id='science' class="nav-item">
                  <a class="nav-link" ng-click="changeCategory('science')">Ciencia</a>
                </li>
                <li id='sports' class="nav-item">
                  <a class="nav-link disabled" ng-click="changeCategory('sports')">Deportes</a>
                </li>
                <li id='technology' class="nav-item">
                  <a class="nav-link disabled" ng-click="changeCategory('technology')">Tecnología</a>
                </li>
              </ul>
            </div>
          </nav>
        
    <main>
        <section ng-repeat="x in noticias" id='{{x.id}}'>
            <img src="{{x.urlToImage}}" alt="{{x.urlToImage}}">
            <div>
                <h1><a href="{{x.url}}" target="_blank">{{x.title}}</a></h1>
                <p>{{(x.author)? x.author: x.source.name}} {{x.publishedAt}}</p>
                <p> {{x.content.replace("chars]","Caracteres]")}}</p>
                <a href="{{x.url}}" target="_blank">Leer mas</a>
                <hr>
            </div>
        </section>
    </main>
    <footer>
        <p>Made with <img src="img/love.svg" alt="Heart icon"> from Mx <img src="img/mx.svg" alt="Mexico flag"></p>
        <a href="humans.txt" target="_blank" title="Humans.txt"><img id="humans-icon" src="img/humanstxt-isolated-blank.gif" alt="Humans.txt"></a>
    </footer>

</body>
</html>

<script>
    app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope,$http) {
        $http.get("https://newsapi.org/v2/top-headlines?language=es&apiKey=e1195eaaa2d64ad3bf9d8909247c5542").then(function(response){
                $scope.noticias = response.data.articles;
                $scope.noticias.forEach(function(element, index){
                    if(element.author != null){element.author = element.author + ", ";}
                    element.publishedAt = new Date(element.publishedAt)
                                                .toLocaleDateString("es-MX", 
                                                                    { 
                                                                        timeZone: 'America/Denver', 
                                                                        year: 'numeric',
                                                                        month: 'long', 
                                                                        day: 'numeric', 
                                                                        hour: 'numeric', 
                                                                        hour12: true, 
                                                                        minute: 'numeric'
                                                                    }
                                                );
                });
        });

        $scope.changeCategory = function(category){
            $('.nav-item').removeClass("active");
            $(`#${category}`).addClass("active");
            $http.get(`https://newsapi.org/v2/top-headlines?language=es&${((category==undefined)?"":"category="+category+"&")}apiKey=e1195eaaa2d64ad3bf9d8909247c5542`).then(function(response){
                $scope.noticias = response.data.articles;
                $scope.noticias.forEach(function(element, index){
                    if(element.author != null){element.author = element.author + ", ";}
                    element.publishedAt = new Date(element.publishedAt)
                                                .toLocaleDateString("es-MX", 
                                                                    { 
                                                                        timeZone: 'America/Denver', 
                                                                        year: 'numeric',
                                                                        month: 'long', 
                                                                        day: 'numeric', 
                                                                        hour: 'numeric', 
                                                                        hour12: true, 
                                                                        minute: 'numeric'
                                                                    }
                                                );
                });
        });
        }
    });

</script>